/*
.h1 {
    font-family: "Junge", cursive;
    font-weight: 400;
    font-style: normal;
}

.p{
    font-family: "Charis SIL", serif;
    font-weight: 400;
    font-style: italic;     
}

.all font{
    font-family: "Poppins", 
    sans-serif;
    font-weight: 100;
    font-style: normal;
}
*/
